<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Scrollspy</title>
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre mi</h4>
              <p class="text-muted">Estudiante de una Certificación Técnica en Desarrollo Web Full Stack,
                actualmente estoy en un curso de Diseño de paginas web con bootstrap.</p>
              <p class="text-muted">En este curso he logrado aprender sobre como utilizar bootstrap y conocer sus diversas 
                utilidades para el Desarrollo web.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contacto</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.ucreativa.com/" class="text-white">Universidad</a></li>
                <li><a href="https://getbootstrap.com/" class="text-white">Bootstrap</a></li>
                <li><a href="https://www.w3schools.com/" class="text-white">W3 Schools</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="../index.html" class="navbar-brand d-flex align-items-center">
            <strong>Carlos M. Leiton U.</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" 
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main>

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-12 col-md-8 mx-auto">
            <h1 class="fw-light">Scrollspy</h1>
            <p class="lead text-muted">Scrollspy es un complemento de arranque que actualiza automáticamente los enlaces en una 
              lista de navegación según la posición de desplazamiento actual.</p>
          </div>
        </div>
      </section>
    
      <div class="album py-5 bg-light">
        <div class="container">
          <h3 class="text-center" id="mb50">Ejemplo de Scrollspy</h3>
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
            <div class="bd-example" style="position: relative;">

              <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3">
                <a class="navbar-brand" href="#">Navbar</a>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading1">First</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#scrollspyHeading2">Second</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                      <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
              <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy1" tabindex="0">
                <h4 id="scrollspyHeading1">First heading</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit porro nemo nihil provident quidem esse tenetur ad reiciendis repellat rem tempora,
                   hic natus architecto harum exercitationem sunt consequuntur recusandae repellendus.</p>
                <h4 id="scrollspyHeading2">Second heading</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore at, atque doloremque est ad fuga! Rerum, iusto similique animi perferendis et 
                  ratione dolore recusandae nulla? Explicabo repellat necessitatibus non nam!</p>
                <h4 id="scrollspyHeading3">Third heading</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis beatae corporis maiores debitis iste, ducimus animi et, iure iusto 
                  optio dolores aspernatur doloremque explicabo nisi amet? Sunt minus placeat doloribus?</p>
                <h4 id="scrollspyHeading4">Fourth heading</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloremque earum velit unde fuga necessitatibus ea eligendi, distinctio sint 
                  maxime debitis architecto ex natus assumenda culpa voluptates, nemo, voluptate voluptatibus?</p>
                <h4 id="scrollspyHeading5">Fifth heading</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatibus quisquam quasi ipsum aliquid, molestiae, quis similique dolore vitae
                   dignissimos deleniti dolores quam cupiditate neque enim provident perferendis a? Sapiente.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="../index.html">Volver a la Pagina Principal</a>
        </p>
        <p class="mb-1">Carlos M. Leiton U. &copy; Todos los derechos reservados</p>
      </div>
    </footer>

    <script src="../bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>
